[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
beautifulsoup4 = "*"
requests = "*"
selenium = "*"
python-dotenv = "*"
discord = "*"
multidict = "*"
wheel = "*"
yarl = "~=1.0"
aiohttp = "*"

[requires]
python_version = "3.7"
